{% extends 'base.html' %}
{% load mytags %}
{% block content %}
    {% include 'nav_cat_bar.html' %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>填写基本信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <form id="groupForm" method="post" class="form-horizontal" action="">
                            {% if error %}
                                <div class="alert alert-warning text-center">{{ error }}</div>
                            {% endif %}
                            {% if msg %}
                                <div class="alert alert-success text-center">{{ msg }}</div>
                            {% endif %}

                            <div class="hr-line-dashed"></div>
                            <!--新增资产组：添加组的类型:2016-06-01-->
                            <div class="form-group">
                               <label class="col-sm-2 control-label">选择组类型<span class="red-fonts">*</span> </label>
                                <div class="col-sm-8">
                                    <label>
                                        <select name="group_type" class="form-control m-b input-sm" onchange="change_info()">
                                            <option value="">组类型</option>
                                            {% for gt, gt_name in group_types.items %}
                                                {% ifequal gt  group_type_tag %}
                                                    <option value="{{ gt }}" selected> {{ gt_name|slice:":20" }} </option>
                                                {% else %}
                                                    <option value="{{ gt }}" > {{ gt_name|slice:":20" }} </option>
                                                {% endifequal %}
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <!--新增在添加组时选择指定的公司:2016-06-02-->
                            {% if group_type_tag == 'CM' or group_type_tag == 'DM' or group_type_tag == 'BM' %}
                            <div class="form-group">
                               <label class="col-sm-2 control-label">选择公司名称<span class="red-fonts">*</span> </label>
                                <div class="col-sm-8">
                                    <label>
                                        <select name="company_id" class="form-control m-b input-sm" onchange="change_info()">
                                            <option value="">公司名称</option>
                                            {% for company_list in company_all %}
                                                {% ifequal company_list.id|int2str  company_id %}
                                                    <option value="{{ company_list.id }}" selected> {{ company_list.name|slice:":20" }} </option>
                                                {% else %}
                                                    {% if  username == 'admin' %}
                                                        <option value="{{ company_list.id }}" > {{ company_list.name|slice:":20" }} </option>
                                                    {% else %}
                                                        <option value="{{ company_list.id }}" disabled="disabled"> {{ company_list.name|slice:":20" }} </option>
                                                    {% endif %}
                                                {% endifequal %}
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                            </div>
                            {% endif %}
                             <!--新增在添加组时选择指定的部门:2016-06-02-->
                            {% if group_type_tag == 'DM' or group_type_tag == 'BM' %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">选择部门名称<span class="red-fonts">*</span> </label>
                                <div class="col-sm-8">
                                    <label>
                                        <select name="department_id" class="form-control m-b input-sm" onchange="change_info()">
                                            <option value="">部门名称</option>
                                            {% for department_list in department_select %}
                                                {% ifequal department_list.id|int2str department_id %}
                                                    <option value="{{ department_list.id }}" selected> {{ department_list.name|slice:":20" }} </option>
                                                {% else %}
                                                    <option value="{{ department_list.id }}"> {{ department_list.name|slice:":20" }} </option>
                                                {% endifequal %}
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                            </div>
                            {% endif %}
                            <!--新增在添加组时选择指定的业务:2016-06-02-->
                            {% if group_type_tag == 'BM' %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">选择业务名称<span class="red-fonts">*</span> </label>
                                <div class="col-sm-8">
                                    <label>
                                        <select name="business_id" class="form-control m-b input-sm" onchange="change_info()">
                                            <option value="">业务名称</option>
                                            {% for business_list in business_select %}
                                                {% ifequal business_list.id|int2str business_id %}
                                                    <option value="{{ business_list.id }}" selected> {{ business_list.name|slice:":20" }} </option>
                                                {% else %}
                                                    <option value="{{ business_list.id }}"> {{ business_list.name|slice:":20" }} </option>
                                                {% endifequal %}
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                            </div>
                            {% endif %}

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="group_name" class="col-sm-2 control-label">用户组名<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="group_name" name="group_name" placeholder="User Group Name" type="text" class="form-control" value="{{ group_name }}">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="users" class="col-sm-2 control-label">用户</label>
                                <div class="col-sm-3">
                                    <select id="users" name="users" size="12" class="form-control m-b" multiple>
                                        {% for user in user_all %}
                                            <option value="{{ user.id }}">{{ user.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <div class="btn-group" style="margin-top: 50px;">
                                        <button type="button" class="btn btn-white" onclick="move('users', 'users_selected')"><i class="fa fa-chevron-right"></i></button>
                                        <button type="button" class="btn btn-white" onclick="move('users_selected', 'users')"><i class="fa fa-chevron-left"></i> </button>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div>
                                        <select id="users_selected" name="users_selected" class="form-control m-b" size="12"  multiple>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="comment" class="col-sm-2 control-label">备注</label>
                                <div class="col-sm-8">
                                    <input id="comment" name="comment" placeholder="Comment" type="text" class="form-control" value="{{ comment }}">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white" type="reset">取消</button>
                                    <button id="submit_button" class="btn btn-primary" type="submit">确认保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block self_footer_js %}
<script>
$('#groupForm').validator({
    timely: 2,
    theme: "yellow_right_effect",
    fields: {
        "group_name": {
            rule: "required",
            tip: "用户输入组名",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "group_type": {
            rule: "checked",
            tip: "选择组类型",
            ok: "",
            msg: {required: "至少选择一个组!"}
        }
    },
    valid: function(form) {
        form.submit();
    }
});


$(document).ready(function(){
    $("#submit_button").click(function(){
        $('#users_selected option').each(function(){
            $(this).prop('selected', true)
        })
    })
})

    function change_info(){
        var args = $("#groupForm").serialize();
        window.location = "{% url 'user_group_add' %}?" + args
    }

</script>
{% endblock %}