<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css"  href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"  href="/static/css/asset_type_list.css">
     <!--<script src="bootstrap-3.3.0-dist/dist/js/jquery-1.11.2.min.js"></script>-->
     <!--<script src="/static/js/bootstrap-treeview.js"></script>-->
     <script src="/static/js/jquery-2.1.1.js"></script>
    <script  src="/static/js/bootstrap.min.js"></script>
  </head>

  <body>
  <div class="tree well">
  <ul>
    <li> <span><i class="icon-folder-open"></i> 廊坊师范学院</span>
      <ul>
        <li> <span><i class="icon-minus-sign"></i> 教育学院</span>
          <ul>
            <li> <span><i class="icon-leaf"></i> 学前教育<a href="{% url 'asset_group_list' %}">查看资产组</a></span> </li>
          </ul>
        </li>
        <li> <span><i class="icon-minus-sign"></i> 物电学院</span>
          <ul>
            <li> <span><i class="icon-leaf"></i> 电气工程技术</span> </li>
            <li> <span><i class="icon-minus-sign"></i> 电子信息科学技术</span>
              <ul>
                <li> <span><i class="icon-minus-sign"></i> 电子一班</span>
                  <ul>
                    <li> <span><i class="icon-leaf"></i> 宋笑</span> </li>
                    <li> <span><i class="icon-leaf"></i> 二盟</span> </li>
                  </ul>
                </li>
                <li> <span><i class="icon-leaf"></i> 电子二班</span> </li>
              </ul>
            </li>
            <li> <span><i class="icon-leaf"></i> 物理学</span> </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>


<script type="text/javascript">
 //为节点添加展开，关闭的操作
$(function(){
    $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
    $('.tree li.parent_li > span').on('click', function (e) {
        var children = $(this).parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) {
            children.hide('fast');
            $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
        } else {
            children.show('fast');
            $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
        }
        e.stopPropagation();
    });
});
</script>

  </body>

</html>